<div>
  <div class="frow">
  <div>
      <h3>Portfolio of Nikitha Chowdhary</h3>
      <br/>PORTRAIT ARTIST AND DEVELOPER
  </div>
</div>
<div class="menu-toggle" id="open" (click)="onOpen()">
  <div style="background-color: whitesmoke;" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="cross">
      <span></span>
      <span></span>
  </div>
</div>
</div>
<div class="menu-body" *ngIf = "display" (click)="onOpen()">
  <nav>
  <ul>
      <li><a routerLink = "/app-welcome">About</a></li>
      <li><a routerLink = "/app-product-list">Product List</a></li>
      <li><a>Contact Details</a></li>
  </ul>    
  </nav>   
</div>
<router-outlet></router-outlet>
